.hiddenBg {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 3000px;
  color: var(--ifm-heading-color);
  background-color: #525c52;
  background-image: url("https://img.itch.zone/aW1nLzEzMzc0MDgwLnBuZw==/original/zoDYSe.png");
  background-blend-mode: soft-light;
}

.centralAlign {
  text-align: left;
  background-color: #3c4540df;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  color: var(--ifm-color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 20px;
}

h1 {
  color: var(--ifm-link-color) !important;
  padding-top: 16px;
}
.img-wrapper {
  margin: 8px;
}

.youtubeVideo {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}
