.hiddenBg {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 3000px;
  color: var(--ifm-heading-color);
  background-color: #5f6e5f;
  background-image: url("https://img.itch.zone/aW1nLzEwNTczOTUwLnBuZw==/original/Cl0Af%2B.png");
  background-blend-mode: soft-light;
}

.centralAlign {
  text-align: left;
  background-color: #54413a;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  color: var(--ifm-heading-color);
}

.button {
  padding: 10px 20px;
  background-color: #8193ae;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalText {
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 400px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
}