.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color: var(--ifm-color-primary);
  background-color: var(--ifm-heading-color);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
